body{
    background-color:lightcoral;
    color: blueviolet;
}
.header{    
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    display: inline-flex;
    list-style-type: none;
}
.nav-item:not(:last-child){
    margin-right: 30px;
}