:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.js-articles{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: top;

}


.js-articles>li{
  list-style: none;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  width: 400px;
  min-height: 200px;
  margin: 10px;
  padding: 20px;
}
.js-articles>li:hover{
  box-shadow: 5px 5px 15px 5px #000000;

}